@font-face
{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Fond de la page et écriture */

html, body 
{
  height: 100%;
}

body
{
    font-family: 'Trebuchet MS', Arial, sans-serif;
    margin:0px;
    background-color: #f3f4f3;
    display:flex;
    flex-direction: column;
}

.conteneur
{
    flex: 1;
    margin: 80px 40px 30px 40px;
    text-align: justify;
}

.conteneur1
{
    flex: 1;
    margin: 0px 40px 30px 40px;
    text-align: justify;
}

/* Header */

header
{
    background-color: #7ed957;
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
}

#titre_principal
{
    color:black;
    display:flex;
    flex-direction:row;
    align-items:center;
    padding: 10px;
}

#logo
{
    display:flex;
    flex-direction:row;
    align-items:baseline;
}

#logo img
{
    width: 150px;
    height: 150px;
}

#titre
{
    display:flex;
    flex-direction:column;
    padding-left: 20px;
}

header h1
{
    font-family: 'BallparkWeiner', serif;
    font-size: 2.5em;
    font-weight: normal;
    display: flex;
    flex-direction:column;
    margin:auto;
    padding:auto;
}

header h2
{
    font-family: Dayrom, serif;
    font-size: 1.1em;
    font-weight: normal;
    display: flex;
    margin:auto;
    padding:10px;
}

.menu a
{
    font-size: 1.3em;
    color: white;
    text-decoration: none;
    width:150px;
    border: 1.5px solid white;
    border-radius:10px 10px 10px 10px;
    padding: 15px 32px;
    text-align: center;
}

#accueil, #inscription, #connexion
{
    display:inline-flex;
    padding:10px;
    margin-right: 30px;
    margin-bottom: 10px;
}

.menu a:hover
{
    background-color: white;
    opacity: 0.4;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Footer */

footer
{
    background-color: #7eda57;
    display:flex;
    width:100%;
}

.copyright
{
    display:inline-flex;
    margin:auto;
}

#Hi-Sport
{
    display:flex;
    width:50px;
    height:50px;
}

#infinite_measures
{
    display:flex;
    width:50px;
    height:50px;
}

#texte
{
    display:flex;
    color:black;
}

#Hi-Sport, #infinite_measures, #texte
{
    display:inline-block;
    margin-right:20px;
}

.nous_contacter
{
    display:inline-flex;
    margin:auto;
    align-items: center;
}

#contact img
{
    display:flex;
    width:50px;
    height:50px;
}

#contact img:hover
{
    opacity:0.5;
    width:35px;
    height:35px;
    border: 1.5px solid black;
    border-radius:10px;
    padding:5px;
}

#nouscontacter a
{
    display:flex;
    color:black;
    text-decoration:none;
    margin:20px;
}

.nous_rencontrer
{
    display:inline-flex;
    margin:auto;
    align-items: center;
}

#localisation img
{
    display:flex;
    width:50px;
    height:50px;
    display:flex;
}

#localisation img:hover
{
    opacity:0.5;
    width:35px;
    height:35px;
    border: 1.5px solid black;
    border-radius:10px;
    padding:5px;
}

#nousrencontrer a
{
    display:inline-flex;
    color:black;
    text-decoration:none;
    align-items:center;
    padding:20px;
}

img{
  max-width:100%;
  max-height: 100%;
}

/* Formulaire */

/* Code CSS fonctionnant pour les pages d'inscription et de connexion */

/* Mise en page des formulaires sur la page et modifications du style */

form
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 3%;
    position : relative ;
}

fieldset
{
    border-radius: 10px;
    border-width: 10px;
    border-style: solid;
    border-color:  #7ed957;
}

legend
{
font-weight: bold;
}

/* Placement et mise en page du contenu des formulaires */

label
{
    width: 35%;
    display: inline-block;
    vertical-align: middle;
    margin: 6px;
}

/* Style du bouton d'envoie */

.envoie input 
{
    display:flex;
    justify-content:center;
    text-align:center;
    color:black;
    font-size:1em;
    width : 30% ;
    border: 1.5px solid black;
    border-radius:10px 10px 10px 10px;
    padding: 10px 20px;
    margin:auto;
    margin-top:20px;
    cursor:pointer;
}

.envoie input:hover
{
    background-color: black;
    font-size:1.1em;
    opacity: 0.4;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


/* Style du bouton MDP oublié */

.nouveauMdp
{
    display:flex;
    justify-content:center;
}

.nouveauMdp a
{
    display:flex;
    color:black;
    font-size:1em;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    width:200px;
    border: 1.5px solid black;
    border-radius:10px 10px 10px 10px;
    padding: 10px 10px;
    margin:auto;
    margin-bottom: 30px;
}

.nouveauMdp a:hover
{
    background-color: black;
    font-size:1.1em;
    opacity: 0.4;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}



