/* Header */

header
{
    background-color: #7ed957;
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
}

#titre_principal
{
    color:black;
    display:flex;
    flex-direction:row;
    align-items:center;
    padding: 10px;
}

#logo
{
    display:flex;
    flex-direction:row;
    align-items:baseline;
}

#logo img
{
    width: 150px;
    height: 150px;
}

#titre
{
    display:flex;
    flex-direction:column;
    padding-left: 20px;
}

header h1
{
    font-family: 'BallparkWeiner', serif;
    font-size: 2.5em;
    font-weight: normal;
    display: flex;
    flex-direction:column;
    margin:auto;
    padding:auto;
}

header h2
{
    font-family: Dayrom, serif;
    font-size: 1.1em;
    font-weight: normal;
    display: flex;
    margin:auto;
    padding:10px;
}

.infoAdmin
{
    display:inline-flex;
    margin-right:30px;
    align-items: center;
}
#photoAdmin
{
    display:flex;
    margin:15px;
    margin-right:30px;
    width:140px;
    height:140px;
    justify-content: center;
}
#nomAdmin
{
    display:flex;
    margin-right:50px;
}
#nomAdmin ul
{
    list-style: none;
}
#nom, #prénom
{
    color:black;
    font-size:1.5em;
}

#admin
{
    color:black;
    font-size:1em;
}


/* Menu */

.menuAdmin a
{
    font-size: 1.3em;
    background-color: #7ed957;
    color: black;
    text-decoration: none;
    width:100%;
    padding: 15px 32px;
    text-align: center;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
}

.menuAdmin a:hover
{
    opacity:0.7;
}

#pageAdmin
{
    float:left;
    margin: 0px 0px 10px 0px;
}

#capteurs
{
    float:left;
    margin: 0px 0px 10px 0px;
}

#acces
{
    float:left;
    margin: 0px 0px 10px 0px;
}


#forum
{
    float:left;
    margin: 0px 0px 10px 0px;
}

#pageAdmin, #capteurs, #acces, #forum
{
    display:inline-flex;
    width:25%;
}

header a:link, :visited 
{
    color: black;
}