@font-face
{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Fond de la page et écriture */

html, body 
{
  height: 100%;
}

body
{
    font-family: 'Trebuchet MS', Arial, sans-serif;
    margin:0px;
    background-color: #f3f4f3;
    display:flex;
    flex-direction: column;
}


img{
  max-width:100%;
  max-height: 100%;
}

.conteneur
{
    flex: 1;
    margin: 80px 40px 30px 40px;
    text-align: justify;
}

.conteneur1
{
    flex: 1;
    margin: 0px 40px 30px 40px;
    text-align: justify;
}

/* Formulaire */

/* Code CSS fonctionnant pour les pages d'inscription et de connexion */

/* Mise en page des formulaires sur la page et modifications du style */

form
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 3%;
    position : relative ;
}

fieldset
{
    border-radius: 10px;
    border-width: 10px;
    border-style: solid;
    border-color:  #7ed957;
}

legend
{
font-weight: bold;
}

/* Placement et mise en page du contenu des formulaires */

label
{
width: 35%;
display: inline-block;
vertical-align: middle;
margin: 6px;
}

    /* Seulement pour le choix du métier */

.choix label
{
width: auto;
display: inline-block;
vertical-align: middle;
margin: 6px;
}

    /* FIN Seulement pour le choix du métier */

input
{
    width: 50%;
    padding: 4px;
    border-radius: 4px;
    border-style: none ;
    background-color: white;

}

input:hover
{
    background-color: lightgray;
}


/* Style du bouton d'envoie */

.envoie input 
{
    width : 30% ;
    padding : 6px ;
    margin-top: 10px;
}

.envoie input:hover
{
    background-color: black;
    color: white;
    font-weight : bold
}

